@media screen and (max-width:419px){
  .row{
    width: 100%;
    margin-top: 0;
  }
  #lezioni .row > .left, #lezioni .row > .right, #steps .row > .left, #steps .row > .central, #steps .row > .right {
    width: 100%;
    float:none;
    margin-bottom: 10px;
  }
  img{
    width: 40%;
    height: auto;
  }
  .clear{
    display: none;
  }
}
